@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }  
  @else if $point == laptop {
    @media (max-width: 1200px) { @content ; }
  }  
  @else if $point == tablet {
    @media (max-width: 768px) { @content ; }
  }  
  @else if $point == mobile {
    @media (max-width: 320px)  { @content ; }
  }
}