body{
	font-family: $font-open-sans;
}

.u-title{
  border-bottom: 2px dashed #00CCFF;
  color: #00CCFF;
  display: block;
  font-weight: normal;
  font-size: 1.5em;
  padding-bottom: .5em;
  text-align: center;
}

.u-containerDefault{
  max-width: 800px;
  margin: 0 auto;
 }