@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.MainMenu {
  background: #1E1E1E;
  box-shadow: 0px 2px 4px #000;
  text-align: center;
  height: 3.75em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.MainMenu .MainMenu-list {
  margin: 0;
  padding: 0;
}

.MainMenu .MainMenu-item
display inline-block
.MainMenu-link {
  color: #00DBFF;
  text-decoration: none;
  line-height: 3.75em;
  margin: 0 .5em;
}

@media (min-width: 768px) {
  .MainMenu {
    background: red;
    height: auto;
    left: -200px;
    width: 200px;
    transition: .2s;
  }
  .MainMenu.is-active {
    left: 0;
  }
  .MainMenu-item {
    display: block;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2t94a5");
  src: url("../fonts/icomoon.eot?#iefix2t94a5") format("embedded-opentype"), url("../fonts/icomoon.woff?2t94a5") format("woff"), url("../fonts/icomoon.ttf?2t94a5") format("truetype"), url("../fonts/icomoon.svg?2t94a5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-showMenu:before {
  content: "\e9bf";
}

.icon-hideMenu:before {
  content: "\e9c0";
}

.icon-facebook:before {
  content: "\ea8e";
}

.icon-twitter:before {
  content: "\ea93";
}

.icon-youtube:before {
  content: "\ea99";
}

.icon-github:before {
  content: "\eab4";
}

.icon-skype:before {
  content: "\eac6";
}

.icon-linkedin:before {
  content: "\eac8";
}

.Profile {
  text-align: center;
  padding: 0 1em;
}

.Profile-link {
  background: orange;
  border-radius: 2em;
  color: white;
  margin-right: .5em;
  padding: .5em 1em;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1em;
}

.Profile-link.twitter {
  background: #55ACEE;
}

.Profile-link.facebook {
  background: #4862A3;
}

.Profile-link.github {
  background: #829AA8;
}

.Profile-link:before {
  margin-right: .5em;
}

.Work {
  margin-top: 2em;
  text-align: center;
}

.Work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Work .Work-item {
  display: inline-block;
  margin-bottom: 1.8em;
}

.Work .Work-imageContainer {
  margin: 0;
}

.Work .Work-description {
  font-size: 1.1em;
  color: #515151;
  font-style: italic;
}

body {
  font-family: Open Sans !important;
}

.u-title {
  border-bottom: 2px dashed #00CCFF;
  color: #00CCFF;
  display: block;
  font-weight: normal;
  font-size: 1.5em;
  padding-bottom: .5em;
  text-align: center;
}

.u-containerDefault {
  max-width: 800px;
  margin: 0 auto;
}

.Header {
  margin-top: 3.75em;
  background-image: url("../images/portada.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 1.2em 0;
}

.Header-button {
  background: white;
  border: none;
  border-radius: 50%;
  display: none;
  height: 40px;
  line-height: 40px;
  outline: 0;
  position: fixed;
  right: 1em;
  text-align: center;
  top: .6em;
  width: 40px;
  z-index: 3;
}

.Header-button.is-active {
  display: block;
}

.Header-imageContainer {
  margin: 0;
}

.Header-image {
  border: 5px solid white;
  border-radius: 50%;
}

.Header-name, .Header-link {
  color: white;
}

.Header-link {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

.Header-name {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000;
}

@media (min-width: 768px) {
  .Header {
    margin-top: 0;
  }
}

.Footer {
  background-color: #0EC3DE;
  background-repeat: no-repeat;
  background-position: center;
  image: url("../images/footer.jpg", w=1200 px, h=350 px);
  padding: 2em 0;
  text-align: center;
}

.Footer .Footer-form {
  text-align: center;
  display: inline-block;
}

.Footer .Footer-left {
  display: inline-block;
  max-width: 32em;
  text-align: center;
  vertical-align: top;
}

.Footer .Footer-title {
  color: white;
}

.Footer .Footer-formInput, .Footer .Footer-textarea {
  background: white;
  border: none;
  display: block;
  border-radius: 1em;
  padding: .5em;
  margin: 0 auto 1em;
  outline: 0;
}

.Footer .Footer-textarea {
  resize: none;
}

.Footer .Footer-button {
  background: orange;
  border-radius: 1em;
  border: none;
  color: white;
  padding: .5em 1em;
}

@media (min-width: 768px) {
  .Footer-form {
    display: block;
  }
  .Footer-textarea {
    width: 90%;
    box-sizing: border-box;
  }
}

.MainMenu {
  background: #1E1E1E;
  box-shadow: 0px 2px 4px #000;
  text-align: center;
  height: 3.75em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
}

.MainMenu .MainMenu-list {
  margin: 0;
  padding: 0;
}

.MainMenu .MainMenu-item
display inline-block
.MainMenu-link {
  color: #00DBFF;
  text-decoration: none;
  line-height: 3.75em;
  margin: 0 .5em;
}

@media (min-width: 768px) {
  .MainMenu {
    background: red;
    height: auto;
    left: -200px;
    width: 200px;
    transition: .2s;
  }
  .MainMenu.is-active {
    left: 0;
  }
  .MainMenu-item {
    display: block;
  }
}
